{% extends "base.html" %}

{% block content %}

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Inopet Beta</a>
            </div>
            <!-- /.navbar-header -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="index.html"><i class="fa fa-heart fa-fw"></i> Catelul tau</a>
                        </li>

                        <li>
                            <a href="food.html"><i class="fa fa-cutlery fa-fw"></i> Mancare</a>
                        </li>       
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Catelul tau</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                {% for dog in dogs%} 




                
                <div class="col-lg-12 col-md-12 col-sm-12">

                    

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ dog.name }}  <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#ModalCatel{{dog.name}}">Editeaza</button> 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#hp{{dog.name}}" data-toggle="tab">Catel</a>
                                </li>
                                <li><a href="#vp{{dog.name}}" data-toggle="tab">Vaccinuri</a>
                                </li>
                                <li><a href="#dp{{dog.name}}" data-toggle="tab">Deparazitari</a>
                                </li>
                                
                                
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">

                                <div class="tab-pane fade in active" id="hp{{dog.name}}">
                            
                          <p></p>
                                    <p>
                                        {{dog.name}}, {{dog.breed}}, nascut pe {{dog.dob}} si {{dog.weight}} kg.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="vp{{dog.name}}">
                                   <p></p>
                                    <p> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Ultimul vaccin facut a fost pe data de <strong>{{ dog.vaccine_last['date'] }}</strong> si a fost de tipul {{ dog.vaccine_last['name'] }}.</br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Urmatorul vaccin va trebui facut pe pe data de <strong>{{ dog.vaccine_next['date'] }}</strong>.</p>
                                </div>
                                <div class="tab-pane fade" id="dp{{dog.name}}">
                                <br/>
                                  <p>DEPARAZITARI INTERNE</p>  
                                    <p> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Ultima deparazitare interna a fost pe data de <strong>{{ dog.depar_int_last['date'] }}</strong> si a fost de tipul {{ dog.depar_int_last['name'] }}.</br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Urmatoarea deparazitare interna va trebui facut pe pe data de <strong>{{ dog.depar_int_next['date'] }}</strong>.</p>
                                    <hr/>
                                    <p>DEPARAZITARI EXTERNE</p>   
                                    <p> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Ultima deparazitare externa a fost pe data de <strong>{{ dog.depar_ext_last['date'] }}</strong> si a fost de tipul {{ dog.depar_ext_last['name'] }}.</br><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Urmatoarea deparazitare externa va trebui facut pe pe data de <strong>{{ dog.depar_ext_next['date'] }}</strong>.</p>

                                </div>

                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                        <div class="modal fade" id="ModalCatel{{dog.name}}" tabindex="-1" role="dialog" aria-labelledby="ModalCatel{{dog.name}}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <form action = '/index.html' method=post>
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ModalLabel">Editeaza Informatii despre {{dog.name}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        
                                            <div class="form-group">
                                                <label for="catel-name" class="form-control-label">Nume:</label>
                                                {{form1.catel_name(class_="form-control", id="catel-name", value=dog.name)}}
                                                <!--<input type="text" class="form-control" id="catel-name" value="{{dog.name}}" required>-->
                                            </div>
                                            <div class="form-group">
                                                <label for="catel-breed" class="form-control-label">Rasa:</label>
                                                {{form1.catel_breed(class_="form-control", id="catel-breed", value=dog.breed)}}
                                            </div>
                                            <div class="form-group">
                                                <label for="catel-dob" class="form-control-label">Data Nasterii (zz/ll/aaaa):</label>
                                                {{form1.catel_dob(class_="form-control", id="catel-dob", value=dog.dob)}}
                                                
                                            </div>
                                            <div class="form-group">
                                                <label for="catel-weight" class="form-control-label">Greutate (kg):</label>
                                                {{form1.catel_weight(class_="form-control", id="catel-weight", value=dog.weight)}}
                                            </div>

                                            <hr/>

                                            <p> VACCINURI </p>

                                            <div class="form-group">
                                                <label for="catel-ultim-vaccin" class="form-control-label">Ultimul vaccin pe data (zz/ll/aaaa):</label>
                                                {{form1.catel_vaccine_last(class_="form-control", id="catel-ultim-vaccin", value=dog.vaccine_last['date'])}}
                                            
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="catel-ultim-vaccin-tip" class="form-control-label">A fost de tipul:</label>
                                                {{form1.catel_vaccine_last_type(class_="form-control", id="catel-ultim-vaccin-tip", value=dog.vaccine_last['name'])}}
                                            </div>

                                            <div class="form-group">
                                                <label for="catel-urmator-vaccin" class="form-control-label">Urmatorul vaccin pe data (zz/ll/aaaa):</label>
                                                {{form1.catel_vaccine_next(class_="form-control", id="catel-urmator-vaccin", value=dog.vaccine_next['date'] )}}
                                            </div>

                                            <hr/>
                                            
                                            <p> DEPARAZITARI INTERNE </p>

                                            <div class="form-group">
                                                <label for="catel-ultima-di" class="form-control-label">Ultima deparazitare interna pe data (zz/ll/aaaa):</label>
                                                {{form1.catel_di_last(class_="form-control", id="catel-ultima-di", value=dog.depar_int_last['date'] )}}                                                
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="catel-ultima-di-tip" class="form-control-label">A fost de tipul:</label>
                                                {{form1.catel_di_last_type(class_="form-control", id="catel-ultima-di-tip", value = dog.depar_int_last['name'] )}}  
                                            </div>

                                            <div class="form-group">
                                                <label for="catel-urmatoare-di" class="form-control-label">Urmatoarea deparazitare interna pe data (zz/ll/aaaa):</label>

                                                {{form1.catel_di_next(class_="form-control", id="catel-urmatoarea-di", value = dog.depar_int_next['date'] )}} 
                                            </div>

                                            <hr/>

                                            <p> DEPARAZITARI EXTERNE </p>
                                            <div class="form-group">
                                                <label for="catel-ultima-de" class="form-control-label">Ultima deparazitare externa pe data (zz/ll/aaaa):</label>
                                                {{form1.catel_de_last(class_="form-control", id="catel-ultima-de", value = dog.depar_ext_last['date'] )}} 

                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="catel-ultima-de-tip" class="form-control-label">A fost de tipul:</label>
                                                {{form1.catel_de_last_type(class_="form-control", id="catel-ultima-de-tip", value = dog.depar_ext_last['name'])}} 
                                            </div>

                                            <div class="form-group">
                                                <label for="catel-urmatoare-de" class="form-control-label">Urmatoarea deparazitare externa pe data (zz/ll/aaaa):</label>
                                                {{form1.catel_de_last_type(class_="form-control", id="catel-urmatoarea-de", value = dog.depar_ext_next['date'])}}
                                            </div>

                                            
                                        
                                    </div>
                                    <div class="modal-footer">
                                        
                                        {{form1.submit(class_="btn btn-primary", value = "Ok")}}
                                        
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                </div>




                {% endfor %}
                </div>
                    
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notificari
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                            {% for alert in alerts %} 
                                
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> {{ alert.description }}
                                    <span class="pull-right text-muted small"><em>{{alert.second['date']}}</em>
                                    </span>
                                </a>
                            {% endfor %}    
                               
                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                    
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        
        <div> 

</div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script>
    $(document).ready(function(){
      var date_input0 = $('input[id="catel-dob"]');
      var date_input1=$('input[id="catel-ultim-vaccin"]'); //our date input has the name "date"
      var date_input2=$('input[id="catel-urmator-vaccin"]');
      var date_input3=$('input[id="catel-ultima-di"]');
      var date_input4=$('input[id="catel-urmatoare-di"]');
      var date_input5=$('input[id="catel-ultima-de"]');
      var date_input6=$('input[id="catel-urmatoare-de"]');

      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'dd/mm/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input0.datepicker(options);
      date_input1.datepicker(options);
      date_input2.datepicker(options);
      date_input3.datepicker(options);
      date_input4.datepicker(options);
      date_input5.datepicker(options);
      date_input6.datepicker(options);
    })
</script>

{% endblock %}

